body {
    margin :0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background: #222;
    color: beige;
    display: flex;
    justify-content: space-between;
    padding: 17px 27px;
}
.menu a {
    color: azure;
    text-decoration: none;
    margin-left: 17px;
}
.hero {
    background: #e67e;
    color: bisque;
    text-align: center;
    padding: 83px 23px;
}
.hero h1 {
    font-size: 45px;
    margin: 0;
}
.section {
    padding: 43px 23px;
    text-align: center;
}
.card {
    background: #2b0969;
    margin: 12px auto;
    padding: 17px;
    max-width: 305px;
    border-radius: 10px;
}
.btn {
    display: inline-block;
    background: #222;
    color: aliceblue;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 7px;
    margin-top: 12px;
}
.footer {
    background: #222;
    color: antiquewhite;
    text-align: center;
    padding: 17px;
}